<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

        <main>
            <% if(products.length > 0) { %>
                <ul>
                    <% products.forEach(p => { %>
                        <li style="width: 600px; display:flex;justify-content: space-between; align-items: center; box-shadow: 0 3px 1px -2px #0003, 0 2px 2px #00000024, 0 1px 5px #0000001f;padding: 10px 30px; margin: auto; margin-bottom: 10px;">
                         <p>
                            <b style="font-size: 20px;">
                                <%= p.productData.title %> (<%= p.qty %>)
                            </b>
                         </p>
                         <form action="/cart-delete-item" method="POST">
                             <input type="hidden" name="productId" value="<%= p.productData.id %>">
                             <button class="btn" type="submit">
                                Delete
                            </button>
                         </form>
                        </li>
                    <% }) %>
                </ul>
            <% } else { %>
                <h1> No products in Cart!!</h1>
            <% } %>
        </main>

        <%- include('../includes/end.ejs') %>